<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Extension</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
  </head>

  <body>
    <div class = "container">
      <div class="header box">Hi! This is my Chrome Extension's Server</div>
      <div class="content box">
          <p>Go to /getSearchResultsFromBiasedArticle to see sample of recommended urls from article's title</p>
      </div>
      <div class="footer box">Copyright 2021</div>
    </div>
  </body>
</html>