.popup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 100px;
}

.title {
  margin-bottom: 10px;
  display: block;
  font-size: large;
  color: #ddd;
  text-align: center;
}

.progress-container {
  width: 100%;
  margin: 10px 0px 10px;
}

.progress-container {
}

.result {
  font-size: x-large;
  color: white;
}

.related-container {
  width: 100%;
  margin: 10px 0 10px;
}

.related-header {
  width: 100%;
  margin: 10px 0 10px;
  color: #999;
  font-size: large;
  text-align: center;
}

.related-article {
  width: 100%;
  margin-top: 10px;
  font-size: medium;
}
